.listEmployee_Title {
  margin-top: 15px;
  padding-bottom: 1em;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
  border-bottom-color: #ededed;
  width: 70rem;
}

.title_listE {
  padding-left: 15px;
  color: #ededed;
  cursor: default;
}

.container_listaE {
  margin: 1em auto;
  height: auto;
  box-shadow: -1px 4px 20px 0 rgba(0, 0, 0, 0.35);
}
/*===============================================*/

/*=============== Tabla Clientes ===============*/
.table-empleados {
  margin: 2em auto;
  border-collapse: collapse;
  width: 95%;
}